body{
    margin: 0;
}

nav{
    display: flex;
    padding: 0 80px;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

nav .left ul{
    display: flex;
    align-items: center;
    padding: 0;
}

nav .left ul img{

margin-right: 40%;
}
nav ul li a{
    color: black;
    text-decoration: none;
}

nav .left ul .active a{
    font-weight: bold;
    color: black;
}

nav .right a{
    background-color: black;
    text-decoration: none;
    padding: 5px 20px;
    border-radius:  20px;
    color: white;
}

nav .left ul li{
    list-style: none;
    margin-right: 25px;
}

form{
    width: 350px;
    
    margin: 10% auto;
}